/******Same for both css sheets*******/

body {
  margin: auto;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color: #47a3da;
  background-color: white;
}

header {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 5%;
  border-bottom: 3px solid #47a3da;
  text-align: right;

}

h1 {
  margin-left: 10%;
  text-align: left;
}

h5 {
  margin-left: 10%;
  text-align: left;
  letter-spacing: .5em;
}

.container {
  border: 3px solid #47a3da;
  width: 90%;
  margin: auto;
}

i#grid{
  padding: .5em;
}

i#list{
  padding: .5em;
}

ul {
  list-style-type: none;
}

/*******Different for list view********/
